<footer class="container mt-5 pt-5 pb-4">
    <div class="row mb-5 d-flex align-items-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img class="img-fluid" src="../assets/logo-header.svg" alt="logo-header.svg">
        </div>
        <div class="col-md-4 mt-5 last-cols">
            <div class="text-gold d-flex justify-content-center gap-5">
                <a href="https://www.instagram.com/thiagosprime/" target="_blank">
                    <img width="40" src="../assets/icons/insta.svg" alt="insta.svg">
                </a>
                <a href="https://api.whatsapp.com/send?phone=5561999822472" target="_blank">
                    <img width="40" src="../assets/icons/whats-gold.svg" alt="whats-gold.svg">
                </a>
            </div>
        </div>
        <div class="col-md-4 mt-5 last-cols">
            <h5 class="text-center text-white">BAIXE NOSSO APP</h5>
            <div class="d-flex justify-content-around">
                <a class="border rounded d-flex align-items-center ps-2 pe-2" target="_blank"
                    href="https://play.google.com/store/apps/details?id=com.thiagosprime.ccmpedidoonline">
                    <img width="30" src="../assets/icons/google-play.svg" alt="google-play.svg">
                    <div class="d-block ms-2 text-white">
                        <span>DISPONÍVEL NO</span>
                        <h5>Google Play</h5>
                    </div>
                </a>
                <a class="border rounded d-flex align-items-center ps-2 pe-2" target="_blank"
                    href="https://apps.apple.com/br/app/thiagos-prime/id1554850657">
                    <img width="30" src="../assets/icons/app-store.svg" alt="app-store.svg">
                    <div class="d-block ms-2 text-white">
                        <span>DISPONÍVEL NA</span>
                        <h5> &nbsp; App Store &nbsp;</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <h6 class="text-center text-white mt-5 pt-5">&COPY; 2022 QRIA Tech. All Rights Reserved</h6>
</footer>