<section class="container pt-5 pb-5 d-flex flex-column gap-5 justify-content-center align-items-center">
    <!-- <img class="mb-4 mt-4 img-fluid" src="../assets/logo-header.svg" alt="logo-header.svg"> -->
    <a [routerLink]="['/admin/novo-produto']" class="btn btn-outline-gold text-white">ADICIONAR PRODUTO</a>
    <a [routerLink]="['/admin/alterar-produto']" class="btn btn-outline-gold text-white">ALTERAR PRODUTO</a>
    <a [routerLink]="['/admin/remover-produto']" class="btn btn-outline-gold text-white">REMOVER PRODUTO</a>
    <a [routerLink]="['/admin/nova-imagem']" class="btn btn-outline-gold text-white">ADICIONAR IMAGEM DO CARROSEL</a>
    <a [routerLink]="['/admin/remover-imagem']" class="btn btn-outline-gold text-white">REMOVER IMAGEM DO CARROSEL</a>
</section>
<router-outlet></router-outlet>