<section class="container mt-3 mb-3 d-flex flex-column justify-content-center align-items-center text-white">
    <form class="form-group" [formGroup]="form" (ngSubmit)="updateProduct()" formenctype="multipart/form-data">
        <h1 class="mb-3 p-0">Alterar produto</h1>
        <div class="mb-3">
            <label class="form-label">Selecionar produto</label>
            <select class="form-select text-white bg-black" 
                (change)="setCurrentProduct($event)">
                <option *ngFor="let product of products" value={{product._id}}>{{product.name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input [value]="currentProduct?.name" formControlName="name" type="text"
                class="form-control text-white bg-black">
        </div>
        <div class="mb-3">
            <label class="form-label">Preço</label>
            <input [value]="currentProduct?.price" formControlName="price" type="text"
                class="form-control text-white bg-black">
        </div>
        <div class="mb-3">
            <label class="form-label">Quantidade</label>
            <select [value]="currentProduct?.quantity" class="form-select text-white bg-black" formControlName="quantity">
                <option value="500g">500g</option>
                <option value="kg">kg</option>
                <option value="pct">pct</option>
                <option value="400g">400g</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <select [value]="currentProduct?.category" class="form-select text-white bg-black" formControlName="category">
                <option value="dia-dia">Dia a dia</option>
                <option value="premium">Premium</option>
                <option value="kits">Kits</option>
            </select>
        </div>
        <ng-container *ngIf="currentProduct?.category == 'kits'">
            <div class="mb-3">
                <label class="form-label">Descrição</label>
                <input [value]="currentProduct?.description" formControlName="description" type="text" class="form-control text-white bg-black">
            </div>
        </ng-container>
        <button class="btn btn-outline-gold text-white form-control" type="submit">ALTERAR PRODUTO</button>
    </form>
</section>