<section class="container mt-3 mb-3 d-flex flex-column justify-content-center align-items-center text-white">
    <form class="form-group" [formGroup]="form" (ngSubmit)="removeImage()" formenctype="multipart/form-data">
        <h1 class="mb-3 p-0">Remover produto</h1>
        <div class="mb-3">
            <label class="form-label">Nome do produto</label>
            <select class="form-select text-white bg-black" formControlName="carouselImage" (change)="setCurrentProduct($event)">
                <option *ngFor="let image of imagesCarousel" value={{image._id}}>{{image.image}}</option>
            </select>
        </div>
        <button class="btn btn-outline-gold text-white form-control" type="submit">REMOVER IMAGEM</button>
    </form>
</section>