<nav class="position-fixed">
    <button class="ms-4 bg-transparent border-0 p-0 mt-4">
        <img width="30" src="../assets/icons/menu.svg" alt="MenuRounded.svg">
    </button>
    <div class="sidebar bg-black position-absolute top-0 d-none">
        <ul class="text-white text-center fs-3">
            <li><img class="mb-4 mt-4 img-fluid" src="../assets/logo-header.svg" alt="logo-header.svg"></li>
            <li class="mb-4 mt-4">
                <a routerLink="#">SOBRE NÓS</a>
            </li>
            <li class="mb-4 mt-4">
                <a routerLink="#">UNIDADES</a>
            </li>
            <li class="mb-4 mt-4">
                <a routerLink="#">CARDÁPIO</a>
            </li>
            <li class="mb-4 mt-4 text-gold">
                <a routerLink="#">APLICATIVO</a>
            </li>
            <li class="mb-4 mt-4 ">
                <a routerLink="#"><i class="fa-brands fa-whatsapp"></i></a>
            </li>
        </ul>
    </div>
</nav>

<section class="bg-header position-relative pb-5 pt-5 mb-5">
    <div class="pb-5 d-flex justify-content-center mb-2">
        <div class="text-header text-center ">
            <h4 class="text-white m-0 fw-bold pt-5">A MAIOR VARIEDADE DE</h4>
            <h1 class="text-white m-0 display-3 fw-bold">ANGUS E NELORE DO DF</h1>
            <h4 class="text-gold m-0 fw-bold pb-5">TUDO PARA SEU CHURRASCO E SEU DIA A DIA!</h4>
        </div>
        <img class="logo-rounded-header position-absolute" src="../assets/logo-main.svg" alt="thiagos-logo.svg">
    </div>
</section>

<section class="container-fluid mt-5 mb-5 pt-5 pb-5">
    <div class="row text-center fw-bold d-flex justify-content-center">
        <div class="col-md-6 col-lg-4 mt-4 d-flex justify-content-center">
            <div
                class="d-flex align-items-center justify-content-center menu menu-dia rounded border border-gold text-white">
                <div class="d-block">
                    <span>CARNES DO</span>
                    <h2 class="display-2 fw-bold">DIA A DIA</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-4 d-flex justify-content-center">
            <div
                class="d-flex align-items-center justify-content-center menu menu-kits rounded border border-gold text-white">
                <div class="d-block">
                    <span>CONHEÇA NOSSOS</span>
                    <h2 class="display-2 fw-bold">KITS</h2>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mt-4 d-flex justify-content-center">
            <div
                class="d-flex align-items-center justify-content-center menu menu-premium rounded border border-gold text-white">
                <div class="d-block">
                    <span>CARNES </span>
                    <h2 class="display-2 fw-bold">PREMIUM</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div class="d-block">
            <a [routerLink]="['#']" class="fw-bold btn btn-danger w-100 mt-4">CARDÁPIO COMPLETO</a>
            <a [routerLink]="['#']" class="fw-bold btn btn-success w-100 mt-4"><i class="fa-brands fa-whatsapp"></i>
                CHAMAR NO WHATSAPP</a>
        </div>
    </div>
</section>

<div class="divider w-100 position-relative pb-5"></div>

<section class="container mt-5 mb-5 text-white pt-5 ">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="benefits position-relative">
                <div class="d-flex text-center">
                    <div class="pt-5 pb-5 w-50 d-block border-bottom border-end border-red">
                        <img width="40" src="../assets/icons/steak.svg" alt="steak.svg">
                        <p>QUALIDADE NAS <br> CARNES</p>
                    </div>
                    <div class="pt-5 pb-5 w-50 d-block border-bottom border-red">
                        <img width="40" src="../assets/icons/package.svg" alt="package.svg">
                        <p>VÁRIOS KITS PARA TE ATENDER</p>
                    </div>
                </div>
                <div class="d-flex text-center">
                    <div class="pt-5 pb-5 w-50 d-block border-end border-red">
                        <img width="40" src="../assets/icons/whats-white.svg" alt="whats-white.svg">
                        <p>ATENDIMENTO VIA WHATSAPP</p>
                    </div>
                    <div class="pt-5 pb-5 w-50 d-block border-red">
                        <img width="40" src="../assets/icons/delivery-box.svg" alt="delivery-box.svg">
                        <p>ENTREGAS EM TODO <br> DF</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="app text-center">
                <img class="img-fluid" src="../assets/images/mockup-app.png" alt="mockup-app.png">
                <h4 class="fw-light">BAIXE NOSSO APLICATIVO E APROVEITE</h4>
                <h3 class="text-gold">PROMOÇÕES EXCLUSIVAS!</h3>
                <div class="d-flex justify-content-around mt-5">
                    <a class="border rounded d-flex align-items-center ps-2 pe-2" [routerLink]="['/']">
                        <img width="30" src="../assets/icons/google-play.svg" alt="google-play.svg">
                        <div class="d-block ms-2">
                            <span>DISPONÍVEL NO</span>
                            <h5>Google Play</h5>
                        </div>
                    </a>
                    <a class="border rounded d-flex align-items-center ps-2 pe-2" [routerLink]="['/']">
                        <img width="30" src="../assets/icons/app-store.svg" alt="app-store.svg">
                        <div class="d-block ms-2">
                            <span>DISPONÍVEL NA</span>
                            <h5> &nbsp; App Store &nbsp;</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="divider w-100 position-relative pb-5"></div>

<section class="bg-boutique mt-5 mb-5 pt-5 pb-5 d-flex justify-content-center align-items-center">
    <div class="text-white text-center">
        <h5>CONHEÇA NOSSOS</h5>
        <h1 class="display-2 fw-bold">ACESSÓRIOS & <br> BOUTIQUE</h1>
    </div>
</section>

<div class="divider w-100 position-relative pb-5"></div>

<section class="container mt-5 mb-5 text-white text-center">
    <h1 class="display-2 fw-bold">O QUE ESTÃO FALANDO DA GENTE?</h1>
    <img class="img-fluid" src="../assets/images/feedbacks.png" alt="feedbacks.png">
</section>

<div class="divider w-100 position-relative pb-5"></div>

<section class="container mt-5 mb-5 pb-5 text-white text-center">
    <h1 class="display-2 fw-bold">NOSSAS UNIDADES</h1>
    <div class="d-flex justify-content-around mt-5">
        <button class="ps-4 pe-4 btn btn-red btn-active text-white fw-bold">Vicente Pires</button>
        <button class="ps-4 pe-4 btn btn-red text-white fw-bold">Taguatinga</button>
    </div>
    <div class="map container mt-5">
        <div class="row bg-red rounded">
            <div class="col-md-6 mt-2 mb-2">
                <div class="gmap_canvas d-flex align-items-center">
                    <iframe width="100%" height="200" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=thiagos%20prime&t=&z=15&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
            <div class="col-md-6 text-center mt-4 mb-2">
                <h6>ENDEREÇO</h6>
                <span>QNM 42 Conjunto A2 Lote 62</span>

                <h6 class="mt-3">TELEFONE</h6>
                <span>(61) 3491-0867</span>

                <div class="d-flex justify-content-center mt-3">
                    <a class="btn btn-gold text-white ps-5 pe-5 fw-bold">LIGAR</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="container mt-5 pt-5 pb-4">
    <div class="row mb-5 d-flex align-items-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img class="img-fluid" src="../assets/logo-header.svg" alt="logo-header.svg">
        </div>
        <div class="col-md-4 mt-5 last-cols">
            <div class="text-gold d-flex justify-content-around">
                <img width="40" src="../assets/icons/face.svg" alt="face.svg">
                <img width="40" src="../assets/icons/insta.svg" alt="insta.svg">
                <img width="40" src="../assets/icons/whats-gold.svg" alt="whats-gold.svg">
            </div>
        </div>
        <div class="col-md-4 mt-5 last-cols">
            <h5 class="text-center text-white">BAIXE NOSSO APP</h5>
            <div class="d-flex justify-content-center">
                <a class="border text-white rounded d-flex pe-2 ps-2 pt-2 pb-2  align-items-center"
                    [routerLink]="['/']">
                    <img width="30" src="../assets/icons/google-play.svg" alt="google-play.svg">
                    <h5 class=" m-0">Google Play</h5>
                </a>
                <a class="border text-white rounded  pe-2 ps-2 pt-2 pb-2 ms-5 d-flex align-items-center"
                    [routerLink]="['/']">
                    <img width="30" src="../assets/icons/app-store.svg" alt="app-store.svg">
                    <h5 class=" m-0"> &nbsp; App Store &nbsp;</h5>
                </a>
            </div>
        </div>
    </div>
    <h6 class="text-center text-white mt-5 pt-5">&COPY; 2022 QRIA Tech. All Rights Reserved</h6>
</footer>