<section class="container pt-5 mb-5 pb-5 text-center text-white">
    <h1 class="display-2 fw-bold mt-5">ACESSÓRIOS E BOUTIQUE</h1>
    <div class="divider w-100 position-relative pb-5"></div>

    <div class="row-boutique">
        <div class="column-boutique">
            <img 
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.14+PM+(1).jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.16+PM+(2).jpeg">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.15+PM.jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.15+PM+(2).jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.15+PM+(1).jpeg">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.14+PM.jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.14+PM+(2).jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.16+PM+(1).jpeg">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.13+PM.jpeg">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.12+PM.jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.13+PM+(2).jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.13+PM+(1).jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.12+PM+(2).jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.12+PM+(1).jpeg">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.11+PM.jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.11+PM+(1).jpeg">
            <img class="w-50" src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.20+PM.jpeg">
            <img class="w-50"
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.20+PM+(2).jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.20+PM+(1).jpeg">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.19+PM.jpeg">
            <img
                src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.19+PM+(2).jpeg">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.19+PM+(1).jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.18+PM.jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.18+PM+(2).jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.18+PM+(1).jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.17+PM.jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.17+PM+(3).jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.17+PM+(2).jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.17+PM+(1).jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.16+PM.jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.16+PM+(2).jpeg"
                alt="">
            <img src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.16+PM+(1).jpeg"
                alt="">
        </div>
    </div>
</section>