<section class="container pt-5 mb-5 pb-5 text-center text-white">
    <h1 class="display-2 fw-bold mt-5">ACESSÓRIOS E BOUTIQUE</h1>
    <div class="divider w-100 position-relative pb-5"></div>

    <div class="d-flex flex-column gap-4 mt-5 justify-content-center align-items-center">
        <div class="d-flex flex-row gap-3">
            <img  src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.11+PM+(1).jpeg"
                alt="">
            <div class="d-flex flex-column">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.11+PM.jpeg"
                    alt="">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.12+PM+(1).jpeg"
                    alt="">
            </div>

            <div class="d-flex flex-column">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.12+PM+(2).jpeg"
                    alt="">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.13+PM+(1).jpeg"
                    alt="">
            </div>

            <img  src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.13+PM+(2).jpeg"
                alt="">

        </div>
        <div class="d-flex flex-row gap-3">
            <div class="d-flex flex-column">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.12+PM.jpeg"
                    alt="">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.13+PM.jpeg"
                    alt="">

            </div>
            <div class="d-flex flex-column gap-4">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.14+PM+(1).jpeg"
                    alt=""> 
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.14+PM+(2).jpeg"
                    alt="">
            </div>

            <div class="d-flex flex-column gap-4">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.14+PM.jpeg"
                    alt="">
                <img class="boutique"
                    src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.15+PM+(1).jpeg"
                    alt="">
            </div>
            <div class="d-flex flex-column gap-4">
                <img class="boutique" src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.15+PM+(2).jpeg"
                    alt="" class="boutique">
                <img class="boutique" src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.15+PM.jpeg"
                    alt="" class="boutique">
            </div>
            <div class="d-flex flex-column gap-4">
                <img class="boutique" src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.16+PM+(1).jpeg"
                    alt="" class="boutique">
                <img class="boutique" src="https://thiagos-prime.s3.amazonaws.com/acessorios/WhatsApp+Image+2022-10-14+at+2.46.16+PM+(2).jpeg"
                    alt="" class="boutique">
            </div>

        </div>
    </div>

</section>