<section class="position-relative pb-md-5 pb-2 mb-md-5 mb-2 d-flex flex-column align-items-center" id="header">
    <img class="img-fluid d-block d-md-none mb-5 mt-5" src="../assets/logo-header.svg" alt="logo-header.svg">

    <div class="pb-md-5 pb-2 d-flex justify-content-center w-100 mb-2">
        <ngb-carousel class="w-100 position-relative" *ngIf="carouselImages"
            [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
            <ng-template ngbSlide *ngFor="let image of carouselImages">
                <div class="picsum-img-wrapper">
                    <a [href]="image.link" target="_blank">
                        <img class="w-100 mh-600" [src]="image.image" alt="carousel-image.png" />
                    </a>
                </div>
                <div class="position-absolute text-white text-carousel pt-md-0 pb-md-0 pt-5 pb-5">
                    <a [href]="image.link" target="_blank">
                        <h2 class="text-white text-center m-0 fw-bold pt-5 text-uppercase pb-5 pb-md-0">{{image.text}}</h2>
                    </a>
                </div>
            </ng-template>
        </ngb-carousel>
        <img class="logo-rounded-header d-none d-md-block position-absolute" src="../assets/logo-main.svg" alt="thiagos-logo.svg">
    </div>
</section>

<section class="container mt-md-5 mt-2 mb-5 pt-md-5 pt-2 pb-5">
    <div class="text-center d-none fw-bold d-md-flex flex-row justify-content-center gap-5">
        <div class="d-flex mt-4 d-flex justify-content-center">
            <a routerLink="/cardapio">
                <div
                    class="d-flex align-items-center justify-content-center menu menu-dia rounded border border-gold text-white">
                    <div class="d-block">
                        <span>CARNES DO</span>
                        <h2 class="display-2 fw-bold">DIA A DIA</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="d-flex mt-4 d-flex justify-content-center">
            <a routerLink="/cardapio">
                <div
                    class="d-flex align-items-center justify-content-center menu menu-kits rounded border border-gold text-white">
                    <div class="d-block">
                        <span>CONHEÇA NOSSOS</span>
                        <h2 class="display-2 fw-bold">KITS</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="d-flex mt-4 d-flex justify-content-center">
            <a routerLink="/cardapio">
                <div
                    class="d-flex align-items-center justify-content-center menu menu-premium rounded border border-gold text-white">
                    <div class="d-block">
                        <span>CARNES </span>
                        <h2 class="display-2 fw-bold">PREMIUM</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row text-center d-flex fw-bold d-md-none justify-content-center ">
        <div class="col-md-6 col-lg-4 d-flex mt-4 d-flex justify-content-center">
            <a routerLink="/cardapio">
                <div
                    class="d-flex align-items-center justify-content-center menu menu-dia rounded border border-gold text-white">
                    <div class="d-block">
                        <span>CARNES DO</span>
                        <h2 class="display-2 fw-bold">DIA A DIA</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 d-flex mt-4 d-flex justify-content-center">
            <a routerLink="/cardapio">
                <div
                    class="d-flex align-items-center justify-content-center menu menu-kits rounded border border-gold text-white">
                    <div class="d-block">
                        <span>CONHEÇA NOSSOS</span>
                        <h2 class="display-2 fw-bold">KITS</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 d-flex mt-4 d-flex justify-content-center">
            <a routerLink="/cardapio">
                <div
                    class="d-flex align-items-center justify-content-center menu menu-premium rounded border border-gold text-white">
                    <div class="d-block">
                        <span>CARNES </span>
                        <h2 class="display-2 fw-bold">PREMIUM</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5 ms-5 me-5 ps-5 pe-5">
        <div class="d-block ">
            <a routerLink='/cardapio' routerLinkActive="router-link-active"
                class="fw-bold btn btn-danger w-100 mt-4 pt-3 pb-3">CARDÁPIO COMPLETO</a>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5561999822472"
                class="fw-bold btn btn-success w-100 mt-4 pt-3 pb-3"><i class="fa-brands fa-whatsapp"></i>
                CHAMAR NO WHATSAPP</a>
        </div>
    </div>
</section>

<div class="divider w-100 position-relative pb-5"></div>

<section class="container mt-5 mb-5 text-white pt-5 pb-5">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="benefits position-relative">
                <div class="d-flex text-center">
                    <div class="pt-5 pb-5 w-50 d-block border-bottom border-end border-red">
                        <img width="40" src="../assets/icons/steak.svg" alt="steak.svg">
                        <p>QUALIDADE NAS <br> CARNES</p>
                    </div>
                    <div class="pt-5 pb-5 w-50 d-block border-bottom border-red">
                        <img width="40" src="../assets/icons/package.svg" alt="package.svg">
                        <p>VÁRIOS KITS PARA TE ATENDER</p>
                    </div>
                </div>
                <div class="d-flex text-center">
                    <div class="pt-5 pb-5 w-50 d-block border-end border-red">
                        <img width="40" src="../assets/icons/whats-white.svg" alt="whats-white.svg">
                        <p>ATENDIMENTO VIA WHATSAPP</p>
                    </div>
                    <div class="pt-5 pb-5 w-50 d-block border-red">
                        <img width="40" src="../assets/icons/delivery-box.svg" alt="delivery-box.svg">
                        <p class="text-uppercase">Fazemos entrega, Consulte localidades</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div id="app" class="app text-center">
                <img class="img-fluid" src="../assets/images/mockup-app.png" alt="mockup-app.png">
                <h4 class="fw-light">BAIXE NOSSO APLICATIVO E APROVEITE</h4>
                <h3 class="text-gold">PROMOÇÕES EXCLUSIVAS!</h3>
                <div class="d-flex justify-content-around mt-5">
                    <a class="border rounded d-flex align-items-center ps-2 pe-2" target="_blank"
                        href="https://play.google.com/store/apps/details?id=com.thiagosprime.ccmpedidoonline">
                        <img width="30" src="../assets/icons/google-play.svg" alt="google-play.svg">
                        <div class="d-block ms-2">
                            <span>DISPONÍVEL NO</span>
                            <h5>Google Play</h5>
                        </div>
                    </a>
                    <a class="border rounded d-flex align-items-center ps-2 pe-2" target="_blank"
                        href="https://apps.apple.com/br/app/thiagos-prime/id1554850657">
                        <img width="30" src="../assets/icons/app-store.svg" alt="app-store.svg">
                        <div class="d-block ms-2">
                            <span>DISPONÍVEL NA</span>
                            <h5> &nbsp; App Store &nbsp;</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="divider w-100 position-relative pb-5"></div>

<a routerLink="/acessorios">
    <section class="bg-boutique mt-5 mb-5 pt-5 pb-5 d-flex justify-content-center align-items-center">
        <div class="text-white text-center pt-5 pb-5 mt-5 mb-5">
            <h5 class="pt-5">CONHEÇA NOSSOS</h5>
            <h1 class="display-2 fw-bold">ACESSÓRIOS & <br> BOUTIQUE</h1>
            <button class="btn btn-danger bg-red text-white fw-bold">VER MAIS</button>
        </div>
    </section>
</a>

<div class="divider w-100 position-relative pb-5"></div>

<section class="container mt-5 mb-5 text-white text-center">
    <h1 class="display-2 fw-bold">O QUE ESTÃO FALANDO DA GENTE?</h1>
    <img class="img-fluid" src="../assets/images/feedbacks.png" alt="feedbacks.png">
</section>

<div class="divider w-100 position-relative pb-5"></div>

<section id="location" class="container mt-5 mb-5 pb-5 text-white text-center">
    <h1 class="display-2 fw-bold">NOSSAS UNIDADES</h1>
    <div class="d-flex justify-content-center mt-5 gap-5">
        <button (click)="changeLocation('vicente')" class="ps-5 pt-3 pb-3 pe-5 btn btn-red text-white fw-bold"
            [ngClass]="location.city=='vicente' ? 'btn-active' : 'btn' ">Vicente Pires</button>
        <button (click)="changeLocation('Taguatinga')" class="ps-5 pt-3 pb-3 pe-5 btn btn-red text-white fw-bold"
            [ngClass]="location.city=='vicente' ? 'btn' : 'btn-active' ">Taguatinga</button>
    </div>
    <div class="map container mt-5">
        <div class="row bg-red rounded pt-5 pb-5 ps-md-5">
            <div class="col-md-6 mt-2 mb-2">
                <div class="gmap_canvas d-flex align-items-center">
                    <ng-container *ngIf="location.city == 'vicente'">
                        <iframe width="100%" height="300" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Thiagos%20Prime%20Vicente%20Pires&t=&z=19&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </ng-container>
                    <ng-container *ngIf="location.city == 'taguatinga'">
                        <iframe width="100%" height="300" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=Taguatinga%20Norte%20QNM%2042%20Thiagos%20Prime%20M%20Norte%20-%20Taguatinga,%20Bras%C3%ADlia%20-%20DF&t=&z=19&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-6 text-center mt-4 mb-2 d-flex flex-column justify-content-center">
                <h6>ENDEREÇO</h6>
                <span>{{ location.adress }}</span>
                <h6 class="mt-3">TELEFONE</h6>
                <span>{{ location.phone }}</span>

                <div class="d-flex justify-content-center mt-3">
                    <a href="tel:+5561999822472" class="btn btn-gold text-white ps-5 pe-5 fw-bold">LIGAR</a>
                </div>
            </div>
        </div>
    </div>
</section>