<nav class="position-fixed">
    <button (blur)="showSidebar()" (click)="showSidebar()" class="ms-4 bg-transparent border-0 p-0 mt-4">
        <img width="30" src="../assets/icons/menu.svg" alt="MenuRounded.svg">
    </button>
    <div class="sidebar bg-black position-absolute top-0" [ngClass]="scrolled ? 'bg-black' : 'bg-transparent'" [ngClass]="sidebar ? 'translate' : ''">
        <ul class="text-white text-center fs-4 w-100">
            <li>
                <a href="#header">
                    <img class="mb-4 mt-4 img-fluid" src="../assets/logo-header.svg" alt="logo-header.svg">
                </a>
            </li>
            <li class="mb-4 mt-4">
                <a class="fs-5 fw-bold" routerLink='/cardapio'>CARDÁPIO</a>
            </li>
            <li class="mb-4 mt-4 text-gold">
                <a class="fs-5 fw-bold" href="#app">APLICATIVO</a>
            </li>
            <li class="mb-4 mt-4">
                <a class="fs-5 fw-bold" routerLink="/sobre">SOBRE NÓS</a>
            </li>
            <li class="mb-4 mt-4">
                <a class="fs-5 fw-bold" href="#location">UNIDADES</a>
            </li>
            <li class="mb-4 mt-4 ">
                <a class="fs-5 fw-bold" target="_blank" href="https://api.whatsapp.com/send?phone=5561999822472">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>